In [1]:
# openpyxl ライブラリをインストールしておくこと (pip install openpyxl / conda install openppyxl 等)
import pandas as pd

# エクセル形式のデータファイル SSDSE-B-2022 をデータフレーム ssdse_b_2022_df に読み込み、先頭5行を表示
ssdse_b_2022_df = pd.read_excel('SSDSE-B-2022.xlsx')
ssdse_b_2022_df.head()

,SSDSE-B-2022,Code,Prefecture,A1101,A110101,A110102,A1102,A110201,A110202,A1301,...,L322101,L322102,L322103,L322104,L322105,L322106,L322107,L322108,L322109,L322110
0,NaN,NaN,NaN,総人口,総人口（男）,総人口（女）,日本人人口,日本人人口（男）,日本人人口（女）,15歳未満人口,...,食料費（二人以上の世帯）,住居費（二人以上の世帯）,光熱・水道費（二人以上の世帯）,家具・家事用品費（二人以上の世帯）,被服及び履物費（二人以上の世帯）,保健医療費（二人以上の世帯）,交通・通信費（二人以上の世帯）,教育費（二人以上の世帯）,教養娯楽費（二人以上の世帯）,その他の消費支出（二人以上の世帯）
1,2019.0,R01000,北海道,5250000,2472000,2778000,5211000,2455000,2756000,565000,...,72912,20862,26332,9895,10466,16466,42277,8848,29335,57289
2,2018.0,R01000,北海道,5286000,2489000,2797000,5253000,2475000,2778000,577000,...,69044,19089,27012,8845,11517,11437,39308,10825,26991,56984
3,2017.0,R01000,北海道,5320000,2506000,2814000,5292000,2494000,2797000,588000,...,69640,24217,25633,10550,11222,12242,39559,9837,26797,57003
4,2016.0,R01000,北海道,5352000,2521000,2830000,5327000,2511000,2816000,600000,...,69445,17071,24438,9533,11106,12431,43681,10751,29305,59564

In [2]:
# 問1 SSDSE-B-2022 において、2019年の総人口が全国5番目の都道府県は？

# データフレーム ssdse_b_2022_df から年(SSDSE-B-2022の列)が2019の行を抽出し、
# 都道府県名の列(Prefecture)と総人口の列(A1101)からなるデータフレーム q1_df を作成
q1_df = ssdse_b_2022_df[ssdse_b_2022_df['SSDSE-B-2022']==2019][['Prefecture', 'A1101']]

# データフレーム q1_df の sort_valuesにより、総人口の列(A1101)で降順にソートし、上位10件を表示
print(q1_df.sort_values('A1101', ascending=False)[['Prefecture', 'A1101']].head(10))

    Prefecture     A1101
145        東京都  13921000
157       神奈川県   9198000
313        大阪府   8809000
265        愛知県   7552000
121        埼玉県   7350000
133        千葉県   6259000
325        兵庫県   5466000
1          北海道   5250000
469        福岡県   5104000
253        静岡県   3644000

In [3]:
# 問2 2019年の日本の総人口は？

# データフレーム ssdse_b_2022_df を年の列(SSDSE-B-2022)でグルーピングして値を合計して
# 総人口の列(A1101)を抽出したデータフレーム q2_df を作成し、print文で表示
q2_df = ssdse_b_2022_df.groupby('SSDSE-B-2022').sum()['A1101']
print(q2_df)

SSDSE-B-2022
2008.0    128083000
2009.0    128035000
2010.0    128057352
2011.0    127830000
2012.0    127589000
2013.0    127414000
2014.0    127238000
2015.0    127094745
2016.0    126932000
2017.0    126708000
2018.0    126443000
2019.0    126167000
Name: A1101, dtype: int64

In [4]:
# 問3 2019年の(転入者-転出者)が最大の都道府県は？

# データフレーム ssdse_b_2022_df から年(SSDSE-B-2022の列)が2019の行を抽出し、
# 都道府県名(Prefecture)、転入者(A5101)、転出者(A5102)を抽出してデータフレームq3_dfを作成
q3_df = ssdse_b_2022_df[ssdse_b_2022_df['SSDSE-B-2022']==2019][['Prefecture', 'A5101', 'A5102']]

# 転入者と転出者の差をデータフレーム q3_df の diff列に追加
q3_df['diff'] = q3_df['A5101'] - q3_df['A5102']

# データフレーム q3_df の差の列(diff)を降順にソートして、上位5県を表示
print(q3_df.sort_values('diff', ascending=True).head())

    Prefecture  A5101  A5102   diff
169        新潟県  20178  28340  -8162
1          北海道  47737  55467  -7730
253        静岡県  49294  56692  -7398
325        兵庫県  85647  92907  -7260
493        長崎県  20919  27939  -7020

In [5]:
# データフレーム ssdse_b_2022_df を都道府県名(Prefecture)でグルーピングしてデータフレーム q4_df を作成
q4_df = ssdse_b_2022_df.groupby('Prefecture')

# 降水量の列(B4109)を合計した結果をデータフレーム q4_sum_df に登録
q4_sum_df = q4_df['B4109'].sum()

# データフレーム q4_sum_df を降順にソートし、上位5件と下位5件を表示
print(q4_sum_df.sort_values(ascending=False).head())
print(q4_sum_df.sort_values(ascending=False).tail())

Prefecture
宮崎県     33498.0
高知県     32485.0
鹿児島県    30477.0
石川県     30137.5
富山県     29483.5
Name: B4109, dtype: object
Prefecture
山形県    14395.5
福島県    14359.0
北海道    14286.5
山梨県    13631.5
長野県    11907.5
Name: B4109, dtype: object

In [ ]:
# エクセルファイルをデータフレームに読み込む
df_1 = pd.read_excel('df_1.xlsx')

# A列とB列の和からC列を作成
df_1['C'] = df_1['A'] + df_1['B']

# データフレームをエクセルファイルに書き出す
df_1.to_excel('df_2.xlsx')