In [ ]:
# google colab の場合は、下のコメントをアウトを外し、エクセルファイルをダウンロード
#!wget https://www.nstac.go.jp/sys/files/SSDSE-B-2025.xlsx

In [1]:
# openpyxl ライブラリをインストールしておくこと (pip install openpyxl / conda install openppyxl 等)
import pandas as pd

# エクセル形式のデータファイル SSDSE-B-2025 をデータフレーム ssdse_b_df に読み込み、先頭5行を表示
ssdse_b_df = pd.read_excel('SSDSE-B-2025.xlsx', sheet_name='SSDSE-B-2025', skiprows=[1])
ssdse_b_df.head()

,SSDSE-B-2025,Code,Prefecture,A1101,A110101,A110102,A1102,A110201,A110202,A1301,...,L322101,L322102,L322103,L322104,L322105,L322106,L322107,L322108,L322109,L322110
0,2022,R01000,北海道,5140000,2427000,2714000,5098000,2407000,2692000,530000,...,73037,24873,30010,10156,8928,12080,35403,9551,27234,46466
1,2021,R01000,北海道,5183000,2446000,2737000,5147000,2429000,2717000,544000,...,71448,22013,26676,9912,8816,13788,30483,9913,23762,51583
2,2020,R01000,北海道,5224614,2465088,2759526,5151366,2429697,2721669,555804,...,77680,27305,27309,12255,9227,14251,41407,9394,26539,56316
3,2019,R01000,北海道,5259000,2480000,2780000,5223000,2464000,2759000,565000,...,72912,20862,26332,9895,10466,16466,42277,8848,29335,57289
4,2018,R01000,北海道,5293000,2495000,2798000,5262000,2482000,2780000,577000,...,69044,19089,27012,8845,11517,11437,39308,10825,26991,56984

In [4]:
# 問1 SSDSE-B-2025 において、2021年の総人口が全国5番目の都道府県は？

# データフレーム ssdse_b_df から年(SSDSE-B-2025の列)が2022の行を抽出し、
# 都道府県名の列(Prefecture)と総人口の列(A1101)からなるデータフレーム q1_df を作成
q1_df = ssdse_b_df[ssdse_b_df['SSDSE-B-2025']==2022][['Prefecture', 'A1101']]

# データフレーム q1_df の sort_valuesにより、総人口の列(A1101)で降順にソートし、上位10件を表示
print(q1_df.sort_values('A1101', ascending=False)[['Prefecture', 'A1101']].head(10))

    Prefecture     A1101
144        東京都  14038000
156       神奈川県   9232000
312        大阪府   8782000
264        愛知県   7495000
120        埼玉県   7337000
132        千葉県   6266000
324        兵庫県   5402000
0          北海道   5140000
468        福岡県   5116000
252        静岡県   3582000

In [5]:
# 問2 2021年の(転入者-転出者)が最大の都道府県は？

# データフレーム ssdse_b_df から年(SSDSE-Bの列)が2022の行を抽出し、
# 都道府県名(Prefecture)、転入者(A5101)、転出者(A5102)を抽出してデータフレームq3_dfを作成
q3_df = ssdse_b_df[ssdse_b_df['SSDSE-B-2025']==2022][['Prefecture', 'A5101', 'A5102']]

# 転入者と転出者の差をデータフレーム q3_df の diff列に追加
q3_df['diff'] = q3_df['A5101'] - q3_df['A5102']

# データフレーム q3_df の差の列(diff)を降順にソートして、上位5県を表示
print(q3_df.sort_values('diff', ascending=False).head())

    Prefecture   A5101   A5102   diff
144        東京都  399269  365360  33909
156       神奈川県  214924  192432  22492
120        埼玉県  164381  145111  19270
132        千葉県  144533  125793  18740
468        福岡県   98913   90027   8886

In [6]:
# 問3,4 2011年から2022年の降水量合計が最大の都道府県は？ 最小の都道府県は？

# データフレーム ssdse_b_df を都道府県名(Prefecture)でグルーピングしてデータフレーム q4_df を作成
ssdse_b_df_copy = ssdse_b_df.copy() # 作業用にコピーを作成
ssdse_b_df_copy['B4109'] = pd.to_numeric(ssdse_b_df_copy['B4109'], errors='coerce') # 数値に変換(エラーはNaNに)
q4_df = ssdse_b_df_copy.groupby('Prefecture') # 都道府県名でグルーピング

# 降水量の列(B4109)を合計した結果をデータフレーム q4_sum_df に登録
q4_sum_df = q4_df['B4109'].sum()

# データフレーム q4_sum_df を降順にソートし、上位5件と下位5件を表示
print(q4_sum_df.sort_values(ascending=False).head())
print(q4_sum_df.sort_values(ascending=False).tail())

Prefecture
宮崎県     33942.0
高知県     33484.0
鹿児島県    31835.0
石川県     30577.0
富山県     29559.5
Name: B4109, dtype: float64
Prefecture
山形県    14316.5
福島県    14138.0
北海道    14119.5
山梨県    13889.5
長野県    12147.5
Name: B4109, dtype: float64